stages:
  - test

tests:
  stage: test
  image: mcr.microsoft.com/playwright:v1.41.0-jammy
  script:
    - npm ci
    - npx playwright test
  artifacts:
    when: always
    paths:
      - playwright-report/
      - test-results/
      - junit.xml
    reports:
      junit: junit.xml
    expire_in: 30 days
